@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
nav {
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
}

nav a {
  display: block;
  float: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  color: white;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  font-size: 30px;
}

#logo {
  /*font*/
  font-family: 'Titillium Web', sans-serif;
  font-size: 45px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  /*box*/
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
}

@media only screen and (max-with: 600px) {
  img {
    float: left;
  }

  body {
    background-color: lightblue;
  }
}
